{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
<!-- Subscribe col on the fron page -->
    <div class="container">
        <div id="subscribe-main" class="row bg-white pt-lg-2 d-lg-flex">
            <!-- New arrivals pictures -->
            <div class="col my-auto">
            </div>
            <!-- Subscrition text -->
            <div class="col my-auto">
                <h2 class="display-4 logo-font text-black">
                    Don't miss the launch of the new collection 2024
                </h2>
                <!-- Button for the subscribe -->
                <div class="my-5">
                    <h4>
                        <a href="" class="subscribe-now-button btn btn-lg rounded-0 text-uppercase py-3">subscribe now!</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}