{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img class="card-img-top img-fluid rounded hero-img" src="/media/pexels-jeffrey-brandjes-6835492.jpg" alt=""> 
             </div>
            <div class="col-md-6 masthead-text">
                <div class="card-body">
                    <div class="card-text">
                        <p>Check out our blog and get more inspiration about where your next slope will be!</p>
                    </div>
                    <div class="hero-buttons " style="animation-delay: 300.0ms;">
                        <div class="hero-button">   
                                <a class="btn btn-secondary hero-button-1" href="{% url 'blogpost' %}">
                                    BLOG
                                </a>
                        </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}