{% extends "base.html" %}
{% load static %}

{% block content %}
<section>
    <div class="container-fluid px-4 px-lg-5">
        <h2 class="mb-4 mt-3 text-center top-text">
            MY WISHLIST
        </h2>
        <hr>
    </div>
</section>
<br>
<div class="container">
    <div class="row">
        <table class="table table-sm table-borderless table-striped w-100">
            {% for product in wishlist.products.all %}
            <tr>
                <td>
                    <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
                    @ {{ product.price }} each.</a>
                </td>
                <td>
                    <small class="ml-3">
                        <a class="text-danger" href="{% url 'remove_from_wishlist' product.id %}">Remove</a>
                    </small>
                </td>
            </tr>
            {% empty %}
            <div class="row justify-content-center">
                <!-- Wishlist Page "if" empty -->
                <div class="text-center mt-3">
                    <h3 class="font-weight-bold text-uppercase">You have no items in your wishlist</h3>
                    <a class="btn btn-light btn-lg mt-5" href="{% url 'products' %}">
                        <span class="icon">
                            <i class="text-info fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase font-weight-bold text-info">Keep Shopping</span>
                    </a>
                </div>
                </div>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}