{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'wishlist/css/wishlist.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="cart-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-heading mb-10">My wishlist</div>
                <div class="table-wishlist">
                  
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <thead>
                            <tr>
                                <th width="45%">Product Name</th>
                                <th width="20%">Unit Price</th>
                                <th width="20%">Stock Status</th>
                                <th width="15%"></th>
                            </tr>
                        </thead>
                       {% if wish_list %} 
                        <tbody>
                        
                        {% for item in wish_list %}
                            <tr>
                               
                                <td width="45%">
                                    <div class="display-flex align-center">
                                        <div class="img-product">
                                            <img src="{{ item.product.image_url }}" alt="{{ item.product.name }}" class="mCS_img_loaded">
                                        </div>
                                        <div class="name-product">
                                            <a href="{{ item.product.get_absolute_url }}">
                                            {{ item.product.name | title }}
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td width="20%" class="price">${{ item.product.price }}</td>
                                <td width="20%"><span {% if item.product.stock %}class="in-stock-box"{% else %}class="not-in-stock-box"{% endif %}>Stock</span></td>
                                
                                <td width="15%" class="text-center">
                                    
                                    <form action="{% url 'wishlist:delete_item'  %}" method="post">
                                            {% csrf_token %}
                                        <input type="hidden" name="item-id" value="{{ item.id }}">
                                        <button type="submit" class="trash-icon"><i class="far fa-trash-alt"></i></button>
                                    </form>
                                   
                                    
                                </td>

                            </tr>
                        {% endfor %}
                       
                        </tbody>
                      {% else %}
                        <p>Your wish list is empty</p>
                      {% endif %}
                   
                    </table>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <a href="{% url 'products' %}" class="btn btn-success">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span>Return To Shop</span>
                            </a>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}