{% load static %}
{% block content %}

<!-- FOOTER -->
<br>
<hr>
<footer class="footer col-12 mt-auto py-3 dark-bg text-center text-black">
   <div class="container p-2 pb-0">
       <div class="row">
           <!-- Section: Address and Email -->
           <div class="col-lg-4 text-lg-left">
               <h6>Our Address</h6>
               <p>Snowpatrol<br>
                  Lundin st.1<br>
                  12345 Stockholm
                   <br>Sweden
               </p>
               <br>       
            </div>
            <!-- Mailchimp form -->   
            <div class="col-lg-4 sub-box">
               <h5 class="sub-title">Sign up for news, promotions and more</h5>
               <div id="mc_embed_shell">
                  <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
               
                  <div id="mc_embed_signup">
                     <form action="https://herokuapp.us10.list-manage.com/subscribe/post?u=757e5c767e6dbabe564e91c19&amp;id=2a3358d099&amp;f_id=0047d5e5f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                    <div id="mc_embed_signup_scroll"><h2>Subscribe</h2>
                        <div class="mc-field-group"><label for="mce-EMAIL"><span class="asterisk"></span></label><input type="email" name="EMAIL" placeholder="Email Adress*" class="required email" id="mce-EMAIL" required="" value=""></div>
                    <div id="mce-responses" class="clear foot">
                        <div class="response" id="mce-error-response" style="display: none;"></div>
                        <div class="response" id="mce-success-response" style="display: none;"></div>
                    </div>
                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                    <!-- /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */ -->
                    <input type="text" name="b_757e5c767e6dbabe564e91c19_2a3358d099" tabindex="-1" value="">
                </div>
                    <div class="optionalParent">
                        <div class="clear foot">
                            <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-secondary sub-button" value="Subscribe">
                            <p style="margin: 0px auto;"><a href="http://eepurl.com/iBQbqk" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p>
                        </div>
                    </div>
                </div>
            </form>
            </div>
            <script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script></div>
            
            </div>
           <div class="col-lg-4 text-lg-right contact-box">
            <h6>Contact Us</h6>
               <p>
                  snowpatrol@example.com
               </p>
               <p>
                  +46 123 345 23
               </p>
               <br>
               <a class="privacy-policy" rel="noopener nofollow"
               href="https://www.privacypolicygenerator.info/live.php?token=0UiOFL2ly2hB82O5es67BaTOjv1au9Fv"
               target="_blank" role="button">Privacy Policy
           </a>
         </div>
         
      </div>
   </div>       
<hr>
<!-- Section: Social media -->
<div class="col social-btn">
   <a class="btn btn-outline-light btn-floating m-1 text-black" href="https://www.Youtube.com/" target="_blank"
       role="button" alt="link to youtube"><i class="fa-brands fa-youtube fa-2xl"></i></a>

   <a class="btn btn-outline-light btn-floating m-1 text-black" href="https://www.instagram.com/" target="_blank"
       role="button" alt="link to instagram"><i class="fa-brands fa-square-instagram fa-2xl"></i></a>

   <a class="btn btn-outline-light btn-floating m-1 text-black" href="https://www.facebook.com/" target="_blank"
       role="button" alt="link to facebook"><i class="fa-brands fa-facebook fa-2xl"></i></a>
</div>
<hr>
   <!-- Copyright -->
   <div class="text-center" id="copyright">
       © 2023 Copyright:
       <a class="text-black" href="{% url 'home' %}">Snowpatrol | Educational Purpose Only</a>
   </div>
</footer>

<!-- END OF FOOTER -->
{% endblock %}