{% extends 'base.html' %} 
{% block content %}
{% load crispy_forms_tags %}
{% load static %}


<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ blogpost.title }}</h1>
                <p class="post-subtitle">{{ blogpost.author }} | {{ blogpost.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- The placeholder image -->
                {% if "placeholder" in blogpost.featured_image.url %}
                    <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.blogpost.title }}">
                    <!-- Display the post image or a placeholder image -->
                    {% else %}
                    <img class="img-fluid rounded" src=" {{ blogpost.image.url }}" alt="{{ item.blogpost.title }}">
                 </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% if blogpost.user.id == blogpost.author.id %}
<!-- Edit Button, Delete Button and Delete Modal  -->
<div class="conatiner" id="modifyblogpost">
    <div class="row">
        <div class="col mt-2 mb-3 text-center">
            <!--Edit Button-->
            <a href="{% url 'edit_blogpost' blogpost.slug %}" class="edit"><button class="btn btn-outline-success btn-md"
                    value="{{ blogpost.slug }}" type="button">Edit</button></a>
            <!--Delete Button-->
            <button class="btn btn-outline-danger btn-md mx4" data-bs-toggle="modal"
            data-bs-target="#deleteModal{{ blogpost.id }}">Delete</button>
        </div>      
    </div>  
    <!--Delete modal-->
    <div class="modal fade" id="deleteModal{{ blogpost.id }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content delete-modal">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete "{{ blogpost.title }}"?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger" href="{% url 'delete_blogpost' blogpost.slug %}">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <div class="card-text ">
                    {{ blogpost.content | safe }}
                </div>
                <div class="row">
                    <div class="col-3">
                        {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'blogpost_like' blogpost.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{blogpost.slug}}" class="btn-like"><i class="fas fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="blog_id" value="{{blogpost.slug}}" class="btn-like"><i class="far fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                        <!-- The number of likes -->
                        <strong class="text-secondary"> {{ blogpost.number_of_likes }} </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
</div>

{% endblock content %}