{% extends 'base.html' %}
<!-- Extend the 'base.html' template -->

{% load static %}
<!-- Load static files like CSS and JavaScript -->


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<section>
    <div class="container-fluid px-4 px-lg-5">
        <h2 class="mb-4 mt-3 text-center top-text">
            Blog
        </h2>
        <hr>
    </div>
</section>

<div class="container-fluid">
    <div class="row">

        <!-- Recipes Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">

            </div>
        </div>
    </div>

<!-- When it's more then 9 recipes on page a next button will appear -->
{% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock content %}

