{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}
{% block content %}
<div>
    <div class="container-fluid px-4 px-lg-5">
        <h2 class="mb-4 mt-3 text-center top-text">
            BLOG
        </h2>
        <hr>
    </div>
</div>

    <div class="container">
        <div class="row mt-5 mb-5">
            <!--Blog Entries-->
            {% for blogpost in blogpost_list %}
            <div class="col-xs-12 col-md-4 blog-list">
                <div class="card grow shadow">
                    <a href="{% url 'blogpost_detail' blogpost.slug %}">
                    {% if "placeholder" in blogpost.featured_image.url %}
                        <img class="card-img-top blog-detail-img" src="{{ MEDIA_URL }}noimage.png" alt="Blog placeholder image" style="height: 300px;">
                    </a>
                    {% else %}
                        <img class="card-img-top blog-detail-img" src=" {{ blogpost.image.url }}" alt="Blog image" style="height: 300px;">
                    {% endif %}
                    <div class="card-body">
                        <a href="{% url 'blogpost_detail' blogpost.slug %}">
                            <h5 class="card-title">{{ blogpost.title }}</h5>
                        </a>
                        <p class="card-text"><small class="text-muted">{{blogpost.created_on }}</small></p>
                    </div>
                </div>
  
            </div>
            {% endfor %}
        </div>
    <!-- Pagination -->
  <!-- When it's more then 9 post on page a next button will appear -->
{% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>


{% endblock %}

