{% extends 'base.html' %}
{% load static %}
{% block content %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


<section>
    <div class="container-fluid px-4 px-lg-5">
        <h2 class="mb-4 mt-3 text-center top-text">
            Blog
        </h2>
        <hr>
    </div>
</section>


<div class="container-fluid">
    <div class="row">

        <!-- Recipes Entries Column -->
        <div class="row">
            <div class="col-12 mt-3 left">
                {% for blogpost in blogpost_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in blogpost.featured_image.url %}
                                    <img class="card-img-top img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.blogpost.title }}">
                                    <!-- Display the post image or a placeholder image -->
                                    {% else %}
                                    <img class="card-img-top img-fluid rounded" src=" {{ blogpost.image.url }}" alt="{{ item.blogpost.title }}">
                                </div>
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Creator: {{ blogpost.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'blogpost_detail' blogpost.slug %}" class="blogpost-link">
                                <h4 class="card-title">{{ blogpost.title }}</h4>
                                <p class="card-text">{{ blogpost.creator }}</p>
                            </a>
                            <hr>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>                      
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
<!-- When it's more then 9 post on page a next button will appear -->
{% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock content %}

